<div class="card">
  <div class="cardimg-wraper">
    <img class="card-img-top propIma" src="assets/images/house.jpg" />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-info">
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-info">
          <i class="far fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h2 class="card-title">{{ property.Name }}</h2>
    <h5>Property name: {{ property.Name }}</h5>
    <h5>Type: {{ property.Type }}</h5>
    <h5>Price: {{ property.Price }} £</h5>
  </div>
</div>
